[project]
	description = Open Source Maturity Assessment
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/boogiespook
[access "refs/for/refs/*"]
	read = group user/boogiespook
	push = group user/boogiespook
	label-Code-Review = -2..+2 group user/boogiespook
	label-Verified = -1..+1 group user/boogiespook
	rebase = group user/boogiespook
	removeReviewer = group user/boogiespook
	submit = group user/boogiespook
[access "refs/heads/*"]
	read = group user/boogiespook
	create = group user/boogiespook
	push = +force group user/boogiespook
	pushMerge = group user/boogiespook
[access "refs/tags/*"]
	push = +force group user/boogiespook
	pushTag = group user/boogiespook
	pushSignedTag = group user/boogiespook
