body {
	margin: 0;
	padding: 0;
	background: #F0F0F0 url(images/backgroundGrey.jpg) repeat;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #181B20;
}

#body2 {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #181B20;
}

#body3 {
	margin: 0;
	background: none;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #181B20;
}

#banner {
      background: url(images/banner-background.png) repeat-x top left;
      height: 80px;
}

.commentBox {
 width: 300px;     
}


h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #336699;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.0em;
}


p, ul, ol {
	margin-top: 0;
	line-height: 120%;
	font-family: 'Raleway', sans-serif;}

}

ul, ol {
	line-height: 150%;

}

a {
	text-decoration: none;
	color: #C62647;
}

a:hover {
	text-decoration: underline;
}

img
{
	margin-bottom: 2em;
}

.image
{
	display: inline-block;
}

.image img
{
	display: block;
	width: 100%;
}

.image-full
{
	display: block;
	width: 100%;
	margin: 0 0 2em 0;
}

img.border {
	border: 6px solid #EEE7DF;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header-wrapper {
	height: 80px;
}

#header {
	width: 960px;
	height: 40px;
	margin: 0 auto;
}

/* Logo */

#logo {
	width: 980px;
	height: 40px;
	margin: 0px auto;
	padding: 10px 0px 0px 0px;
	color: #3B3B3B;
}

#logo h1, #logo p {
	display: block;
	margin: 0;
	padding: 0;
	color: #35586C;
}

#logo h1 {
	margin: 0px;
	text-align: center;
	font-size: 34px;
	font-weight: bold;
	color: #35586C;
}

#logo h1 a {
	color: #344152;
}

#logo p {
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.90em;
	color: #8F8F8F;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #8F8F8F;
}

#logo img {
	float: right;
	background: none;
	border: 1px solid #B6BFD0;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 100px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 60px 0 0 30px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 195px;
	padding: 6px 10px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #7F7F81;
}

#search-submit {
	display: none;
}

/* Menu */

#menu {
	width: 940px;
	height: 56px;
	margin: 0px auto;
	padding: 20px 20px 0px 20px;
	background: #F44C31;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	height: 56px;
	margin: 0px;
	padding: 0px 30px 0px 30px;
	line-height: 56px;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	color: #FFF;
}

#menu .current_page_item a {
	background: #FFFFFF;
	color: #F44C31;
}

#menu a:hover {
	text-decoration: none;
	color: #FFF;
}

/* Page */

#page {
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	width: 1100px;
 	margin: 0 auto; 
	padding: 0;
	background-color: #FFFFFF;
}

#page-bgtop {
}

#page-bgbtm {
	margin: 0px;
	padding: 40px 50px 0px 50px;
}

/* Content */

#content {
	float: left;
	padding: 0px 0px 0px 0px;
}

.post {
	clear: both;
	padding-bottom: 1px;
}

.post .title {
	padding-top: 10px;
	letter-spacing: -2px;
}

.post .title a {
	color: #336699;
	border: none;
}

.post .meta {
	padding-bottom: 10px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
}

.post p {
	font-family: 'Raleway', sans-serif;}

.post .entry {
	text-align: justify;
	margin-bottom: 25px;
	padding: 10px 0px 0px 0px;
}


.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
}

/* Footer */

#footer {
	width: 1200px;
	margin: 0em auto;
	background: url(images/shadow.png) no-repeat center top;
}

#footer p {
	letter-spacing: 0.20em;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
	color: #000000;
}

#footer a {
	color: #8F8F8F;
}

.button
{        
	display: inline-block;
	white-space: nowrap;
	background-color: #ccc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
	background-image: -webkit-linear-gradient(top, #eee, #ccc);
	background-image: -moz-linear-gradient(top, #eee, #ccc);
	background-image: -ms-linear-gradient(top, #eee, #ccc);
	background-image: -o-linear-gradient(top, #eee, #ccc);
	background-image: linear-gradient(top, #eee, #ccc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
	border: 1px solid #777;
	padding: 0 1.5em;
	margin: 0.5em;
	font: bold 1em/2em Arial, Helvetica;
	text-decoration: none;
	color: #333;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	border-radius: .2em;
	-moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.button:hover
{
	background-color: #ddd;        
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
	background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
	background-image: -moz-linear-gradient(top, #fafafa, #ddd);
	background-image: -ms-linear-gradient(top, #fafafa, #ddd);
	background-image: -o-linear-gradient(top, #fafafa, #ddd);
	background-image: linear-gradient(top, #fafafa, #ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');        
}

.button:active
{
	-moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	position: relative;
	top: 1px;
}

.button:focus
{
	outline: 0;
	background: #fafafa;
}    

.button:before
{
	background: #ccc;
	background: rgba(0,0,0,.1);
	float: left;        
	width: 1em;
	text-align: center;
	font-size: 1.5em;
	margin: 0 1em 0 -1em;
	padding: 0 .2em;
	-moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-moz-border-radius: .15em 0 0 .15em;
	-webkit-border-radius: .15em 0 0 .15em;
	border-radius: .15em 0 0 .15em;
        pointer-events: none;        
}

/* Hexadecimal entities for the icons */

.add:before
{
	content: "\271A";
}

.edit:before
{
	content: "\270E";        
}

.delete:before
{
	content: "\2718";        
}

.save:before
{
	content: "\2714";        
}

.email:before
{
	content: "\2709";        
}

.like:before
{
	content: "\2764";        
}

.next:before
{
	content: "\279C";
}

.star:before
{
	content: "\2605";
}

.spark:before
{
	content: "\2737";
}

.play:before
{
	content: "\25B6";
} 

#progressBar {
		margin-top: 10px;
		float: right;
		width: 200px;
		height: 22px;
		border: 1px solid #111;
		background-color: #C0C0C0;
}

#redhatLogo {
		margin-top: 5px;
		margin-left: 5px;
		float: right;
		width: 70px;
		height: 22px;
}


#progressBar div {
		height: 100%;
		color: #ffffff;
		text-align: right;
		line-height: 22px; /* same as #progressBar height if we want text middle aligned */
		width: 0;
		background-color: #0099ff;
}


.checkbox, .radio {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(checkbox.png) no-repeat;
	display: block;
	clear: left;
	float: left;
}
.radio {
	background: url(radio.png) no-repeat;
}
.select {
	position: absolute;
	width: 158px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 21px;
	padding: 0 24px 0 8px;
	color: #fff;
	font: 14px/21px arial,sans-serif;
	background: url(select.png) no-repeat;
	overflow: hidden;
}

#green {
	color: #00FF00;

}

#lunch {
	color: #336699;
	font-weight: bold;

}

#startOver {
	float: left;
	margin-top: -50px;
}

#nextButton {
	float: right;
	margin-top: -50px;
}

#backButton {
	float: left;
	margin-top: -50px;
	margin-left: 150px;
}


#emailButton {
	float: middle;
	margin-top: -10px;
}

#accordion-resizer {
	padding: 10px;
	width: 750px;
	height: 220px;
}
